* {
    box-sizing: border-box;
}

h1.display-4 {
    font-family: 'Rajdhani', sans-serif;
}

#correct, #incorrect {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2em;
    color: #C52E3D;
}

div {
    font-family: 'Open Sans', sans-serif;
}

img#header {
    justify-content: center;
    max-height: 800px; 
    padding-right: 30%;
}

#game-container {
    margin-top: 15%;
}

body {
    background-color: black;
}

/* split background adapted from: http://jsfiddle.net/PLfLW/1704/ */
#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

/* responsive embedded videos from: https://www.ostraining.com/blog/coding/responsive-videos/ */
.video-responsive{
    /* overflow:hidden; */
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* .responsive {
    width: auto;
    height: 100%;
} */

#content {
    position: relative;
    z-index: 2;
}

.jumbotron {
    background-color: white;
    opacity: 90%;
    height: fit-content;
    padding: 40px;
}

@media (max-width: 991px) {
    img { 
        transform: rotate(90deg);
        position: relative;
        top: -100px;
        margin: 0% 50%;
        padding: 0px;   
        display: block; 
        width: 50%;
        overflow: auto;
    }

    body {
        background-color: white;
    }

    #game-container {
        margin-top: 10%;
        position: relative;
        top: -300px;   
    } 

    .jumbotron {
        background-color: black;
        color: white;
        opacity: 100%;
    }
} 

@media (max-width: 768px) {
    img {
        margin: 15% 50% 10% 50%;
    }

    .jumbotron {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    img {
        margin: 15% 50% 20% 50%;
    }
}

@media (max-width: 408px) {
    img {
        margin: 15% 50% 40% 50%;
    }

    .jumbotron {
        padding:10px;
    }
}